/* Taken from nos.nl: Font, background color */

* {
  box-sizing: border-box;
  /* border: 1px black solid; */
}

html, body {
  height: 100%;
}

body {
    margin: auto;
    padding-top: 30px;
    min-height: 100%;
}

div {
  /* background-color: #000000; */
  color: #ffffff;
}

a, p, h2, h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.container {
  width: 65%;
  margin: 0 auto;
}

#header {
  height: 65px;
  width: 100%;
  top: 0;
  position: fixed;
  background-color: #f4f4f4;
}

#header .container {
  display: block;
  height: 100%;
}

.headerItem {
  display: table;
  height: inherit;
  float: left;
  border-left: 1px solid #e6e6e6;
  width: 140px;
  vertical-align: middle;
  line-height: 100%;
}

.headerItem > a:before { /* Used: https://tobiasahlin.com/blog/css-trick-animating-link-underlines/ */
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: red;
  visibility: hidden;
  transform: scaleX(0);
}

.headerItem:hover a:before {
  visibility: visible;
  transform: scaleX(1);
}

.headerItem a {
  display: table-cell;
  position:relative;
  height: inherit;
  width: inherit;
  vertical-align: middle;
  text-align: left;
  text-indent: 15px;
  text-decoration: none;
  color: #333;
}

#noslogo {
  margin-top: 15px;
  background-image: url("../img/NOSlogo.svg");
  display: inline-block;
  width: 100px;
  height: 30px;
  background-size: 100% 100%;
}

#logoBox {
  height: inherit;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}

#mainArticles {
  height: 400px;
  width: 100%;
}

#mainArticles .container {
  height: 100%;
  display: block;
  position: relative;
}

#mainArticles h2 {
  position: absolute;
  display: inline-block;
  color: white;
  bottom: 0;
  /* height: 30%; */
  width: 50%;
  font-size: 2em;
  vertical-align: text-bottom;
}

#leftImgTitle {
  padding-left: 12px;
  padding-right: 40px;
  text-align: left;
  left: 0;
}

#rightImgTitle {
  padding-left: 30px;
  text-align: left;
  right: 0;
  height: auto;
}

#leftTopImage, #rightTopImage {
  width: 50%;
  height: inherit;
  float: left;
  background-size: 100% 100%;
}

#leftTopImage {
  text-align:right;
  background-image: url("../img/mainArticles/1.jpg");
}

#rightTopImage {
  text-align: left;
  background-image: url("../img/mainArticles/2.jpeg")
}

#content {
  padding-top: 10px;
  min-height: 100%;
}

#contentLeftSide {
  float:left;
  width: 70%;
}

.gridRow {
  height: 400px;
}

.gridColumn {
  /* background-color: cadetblue; */
  height: inherit;
  width: calc(100% / 3);
  float: left;
  padding:12px;
}

.gridColumn a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.gridColumn a:hover h3 {
  transition: 0.2s linear;
  color: #e60000;
}

.gridColumn img {
  height: 50%;
  width: 100%;
}

.gridColumn h3, p{
  line-height: 1.4;
}

.gridColumn h3 {
  font-weight: bold;
  font-size: 1.05em;
  margin-bottom: 5px;
}

.gridColumn p {
  font-size: .9em;
}

@media only screen and (max-width: 1100px) {
  .headerItem {
    width: auto;
    margin-left: 30px;
  }
  .gridColumn {
    width: 50%;
  }
}

@media only screen and (max-width: 750px) {
  .gridColumn {
    width: 100%;
  }
}

#contentRightSide {
  float: left;
  width: 30%;
  padding-left: 20px;
}

#promoBlock {
  display: block;
  height: 200px;
  width: 100%;
}
