* {
  box-sizing: border-box;
  /* border: 1px black solid; */
}

html, body {
  height: 100%;
}

body {
    margin: auto;
    padding-top: 45px;
    min-height: 100%;
}

div {
  /* background-color: #000000; */
  color: #ffffff;
}

#header {
  height: 65px;
  width: 100%;
  top: 0;
  position: fixed;
  background-color: #ff0000;
}

.container {
  width: 65%;
  margin: 0 auto;
}

#mainArticles {
  height: 400px;
}

#mainArticles h2 {
  color: black;
}

#leftTopImage, #rightTopImage {
  width: 50%;
  height: inherit;
  float: left;
  background-size: 100% 100%;
}

#leftTopImage {
  text-align:right;
  vertical-align: text-bottom;
  background-image: url("../img/mainArticles/1.jpg")
}

#rightTopImage {
  text-align: left;
  background-image: url("../img/mainArticles/2.jpeg")
}

#content {
  padding-top: 10px;
}

#contentLeftSide {
  float:left;
  width: 70%;
}

.gridRow {
  height: 400px;
}

/* .row:after {
  content:"";
  display:table;
  clear:both;
} */

.gridColumn {
  /* background-color: cadetblue; */
  height: inherit;
  width: calc(100% / 3);
  float: left;
  padding:12px;
}

.gridColumn a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.gridColumn img, h3 {
}

.gridColumn:hover h3 {
  transition: 0.2s linear;
  color: red;
}

.gridColumn img {
  height: 50%;
  width: 100%;
}

.gridColumn h3, p{
  color: #333;
  font-family: "Helvetica Neue",Helvetica, Arial, sans-serif;
  line-height: 1.4;
}

.gridColumn h3 {
  font-weight: bold;
  font-size: 1.05em;
  margin-bottom: 5px;
}

.gridColumn p {
  font-size: .9em;
}

#contentRightSide {
  float: left;
  width: 30%;
  padding-left: 20px;
}

#promoBlock {
  display: block;
  height: 200px;
  width: 100%;
}
